.h5p-content pre>code,
.h5peditor pre>code {

  background-color: inherit;
  border: inherit;
}

.h5p-content code,
.h5peditor code {
  color: inherit;
  background: inherit;
  border-radius: inherit;
  padding: inherit;
}